<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="icon" href="./img/weather.png"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by Sunil Panchal. Here, I uses mapbox API and Weather API</p>
            <img  src="/img/me.jpg" class="portrait"/>
        </div>
        {{>footer}}
    </body>
</html>